@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Electrolize&family=Russo+One&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Signika Negative", sans-serif;
  color: var(--poke-dark);
  background-color: var(--body-bg-color);
  position: relative;
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 7px;
  position: absolute;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--accent-400);
  border-radius: 8px;
  width: 1.5rem;
  height: 0.75rem;
}

h1,
h2,
h3 {
  font-family: "Russo One", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

:root {
  --bar-width: 40px;
  --bar-height: 6px;
  --hamburger-gap: 5px;
  --hamburger-hover: var(--accent-400);
  --foreground: var(--pokemon-card-text);
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --navbar-height: 70px;
}

.heading {
  color: var(--accent-400);
  background-color: var(--secondary-900);
  font-family: "Russo One", sans-serif;
  font-size: var(--font-size, 3rem);
  font-weight: 900;
  letter-spacing: 0.05em;
  padding: 2rem 1rem;
  position: relative;
  margin-inline: auto;
  max-width: 600px;
  width: 80%;
  margin-block: 100px 60px;
  clip-path: polygon(25% 0%, 100% 0, 75% 100%, 0% 100%);
}

.modal-heading {
  font-size: 2.5rem;
}

.content-max-width {
  max-width: 1200px;
  margin-inline: auto;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: var(--color, var(--neutral-100));
  background-color: var(--background, var(--primary-400));
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  padding: 12px 22px;
  font-weight: 900;
  font-size: 16px;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.069rem;
  transition: 200ms ease;
}

.button:hover,
.button:focus {
  background-color: var(--load-btn-clr);
  color: var(--load-btn-bg);
  box-shadow: 0px 1px 2px var(--hero-chatbox-text);
}

.type-tag {
  border-radius: 8px;
  background: var(--color);
  color: var(--neutral-100);
  text-shadow: 0px 0px 5px var(--neutral-900);
  font-family: "Concert One", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px 15px;
}

.deck-grid-wrapper {
  margin-block: 83px 50px;
  display: flex;
  gap: 100px 35px;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-header {
  max-width: 600px;
  margin-inline: auto;
  position: relative;
}

.header-img-wrapper {
  position: absolute;
  width: 200px;
  top: -90%;
  right: 0%;
}

.pokemon-card {
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}

.pokemon-card:hover .card-body {
  box-shadow: 0px 3px 10px var(--pokedex-card-shadow);
  top: -10px;
}

.pokemon-card:hover .card-tab {
  top: -40px;
}

.pokemon-card.baby:hover .card-body {
  background-color: var(--secondary-400);
}

.pokemon-card.legendary:hover .card-body {
  --clr-one: var(--pokemon-card-bg);
  --clr-two: var(--accent-400);
  animation: 1.5s infinite special;
}

.pokemon-card.mythical:hover .card-body {
  --clr-one: var(--secondary-400);
  --clr-two: #9d7cb1;
  animation: 1.5s infinite special;
}

.card-body {
  box-shadow: 0px 3px 10px transparent;
  display: grid;
  cursor: pointer;
  gap: 10px 65px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "left left right"
    "base base base";
  border-radius: 15px;
  background-color: var(--pokemon-card-bg);
  color: var(--pokemon-card-text);
  border: solid 3px var(--pokemon-card-outline);
  text-align: start;
  width: 265px;
  padding: 16px 18px;
  position: relative;
  pointer-events: none;
  user-select: none;
  z-index: 2;
  margin-top: 10px;
}

.card-body .left {
  grid-area: left;
  display: grid;
  align-items: end;
  pointer-events: none;
}

.pokemon-img-wrapper {
  position: absolute;
  bottom: calc(100% - 5rem);
  left: 40%;
  transform: translateX(-50%);
  isolation: isolate;
}

.pokemon-img-wrapper img {
  min-width: 115px;
  max-width: 140px;
  max-height: 150px;
}

.pokemon-card-name {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.55rem;
  font-weight: 500;
  letter-spacing: 1.4px;
  width: 165px;
}

.card-body .stats-grid {
  font-family: "Electrolize", sans-serif;
  align-content: space-between;
  align-items: center;
  grid-area: right;
  pointer-events: none;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  font-size: 1.15rem;
}

.stats-grid .icon-wrapper {
  width: 25px;
  pointer-events: none;
}

.stats-grid .stat {
  opacity: 0.9;
  font-weight: 600;
}

.card-body .base {
  grid-area: base;
  display: flex;
  margin-top: 15px;
  pointer-events: none;
  gap: 10px;
}

.card-tab {
  position: absolute;
  right: 5px;
  top: 12px;
  background-color: var(--accent-400);
  color: var(--primary-400);
  border-radius: 8px;
  font-size: 1.6rem;
  aspect-ratio: 1 / 2;
  width: 40px;
  pointer-events: none;
  padding: 7px 8px 20px;
  transition: 0.3s ease-in;
  z-index: 1;
}

.card-tab .fa-heart {
  position: absolute;
  top: 30%;
  left: 50%;
  translate: -50% -50%;
}

.grid-base {
  font-family: "Russo One", sans-serif;
  color: var(--grid-base-clr);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.grid-data,
.data-stat {
  gap: 5px;
  display: flex;
}

.sort-btn {
  cursor: pointer;
  padding: 7px;
  border: solid 2px var(--grid-base-clr);
  border-radius: 4px;
  transition: transform 200ms ease;
}

.sort-btn:hover {
  transform: scale(1.15);
}

.error-wrapper {
  max-width: 350px;
  margin-inline: auto;
  color: var(--hero-chatbox-text);
  text-align: center;
}

.error-wrapper h2 {
  padding-block: 14px;
  font-size: 1.8rem;
}

.modal {
  border-radius: 1rem;
  border: solid 2px var(--primary-400);
  background-color: var(--modal-bg);
  color: var(--modal-text);
  top: 30%;
  opacity: 0;
  left: 50%;
  flex-direction: column;
  gap: 7px;
  max-width: 500px;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 300ms ease-in-out;
  font-size: 18px;
  padding: 20px 25px;
  pointer-events: none;
  position: fixed;
  z-index: 10;
}

.modal.active {
  display: flex;
  pointer-events: all;
  top: 50%;
  opacity: 1;
}

.modal .close-btn {
  cursor: pointer;
  right: 25px;
  top: 10px;
  position: absolute;
  width: max-content;
  display: inline-block;
  font-size: 2rem;
}

.modal .close-btn:hover {
  color: var(--accent-400);
}

.modal-link {
  color: var(--primary-400);
}

.modal p {
  font-size: 1.2rem;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0);
  content: "";
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 200ms ease-in-out;
  z-index: 9;
}

.modal-backdrop.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}
