@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Josefin+Sans&family=Nunito&display=swap");

:root {
  --white: #fff;
  --poke-red: #ba4949;
  --poke-yellow: #fbcc05;
  --poke-blue: #294895;
  --poke-dark: #4c4747;

  /* types */
  --water: rgb(86, 187, 233);
  --fire: rgb(253, 16, 0);
  --electric: rgb(253, 216, 76);
  --grass: rgb(14, 155, 92);
  --ice: rgb(2, 250, 255);
  --fighting: rgb(185, 66, 70);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--poke-dark);
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: var(--poke-dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--poke-yellow);
  border-radius: 8px;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
}

.header-md {
  font-size: 2.875rem;
}
