@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Russo+One&family=Signika+Negative&family=Titan+One&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Signika Negative", sans-serif;
  color: var(--poke-dark);
  background-color: var(--body-bg-color);
  position: relative;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: var(--poke-dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--poke-yellow);
  border-radius: 8px;
}

h1,
h2,
h3 {
  font-family: "Russo One", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
}

.header-lg {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.875rem;
  font-weight: 900;
}
