@media (max-width: 768px) {
  .navbar {
    padding-inline: 35px;
  }
}

@media (max-width: 500px) {
  .nav-links-wrapper input {
    display: block;
  }

  .navbar .nav-links {
    display: none;
  }

  .pokedex .heading {
    --font-size: 2rem;
    width: 90%;
    margin-block: 100px 30px;
  }

  .navigation-types {
    gap: 3px;
  }
}
