@media (max-width: 1440px) {
  .content-max-width {
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding-inline: 35px;
  }

  .hamburger-menu {
    height: auto;
  }

  .navbar .nav-links-wrapper {
    width: 100%;
  }

  .navbar .nav-links {
    background-color: var(--primary-200);
    position: relative;
    top: calc(var(--navbar-height) - 1.5rem);
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5px;
    left: -100%;
  }

  .nav-links > *:not(:last-child) {
    border-right: solid 2px var(--neutral-900);
  }

  .navbar .nav-links li {
    padding-block: 5px;
  }

  .hamburger-menu:has(input:checked) + .nav-links {
    left: 0%;
  }

  .grid-base {
    flex-direction: column;
    gap: 10px;
  }

  .parallax {
    background-size: 1400px 100%;
    background-position-x: 48%;
  }

  .error-wrapper {
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .header-lg {
    font-size: 2rem;
  }

  .parallax {
    background-size: 900px 100%;
  }

  .grid-base {
    flex-direction: column;
    gap: 10px;
  }

  .sort-btn {
    order: 2;
  }

  .grid-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    order: 1;
  }

  .modal {
    width: 65%;
  }

  .modal .close-btn {
    right: 15px;
  }

  .nav-links-wrapper input {
    display: block;
  }

  .navbar .nav-links {
    flex-direction: column;
    top: calc(var(--navbar-height) + 2px);
  }

  .nav-links > *:not(:last-child) {
    border-right: none;
    border-bottom: solid 2px var(--neutral-900);
  }

  .hamburger-menu {
    right: 65px;
    left: auto;
  }

  .heading {
    --font-size: 2rem;
    width: 90%;
    padding: 1rem 0.5rem;
    margin-block: 100px 30px;
  }

  .navigation-types {
    gap: 3px;
  }

  .error-wrapper {
    max-width: 250px;
  }
}
