.navbar {
  display: flex;
  background-color: var(--poke-red);
  justify-content: space-between;
  align-items: center;
  padding-inline: 150px;
  height: 7vh;
  position: fixed;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 10;
}

.navbar .logo-wrapper {
  width: 135px;
  min-width: 120px;
}

.navbar .nav-links {
  display: flex;
}

.navbar .nav-item {
  font-size: 1rem;
  letter-spacing: 1.3px;
  color: var(--light);
  font-weight: 500;
  margin-inline: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.navbar .nav-item:hover {
  color: var(--poke-yellow);
}

.theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 5;
}

.theme-toggle-content {
  position: relative;
}

.theme-toggle label {
  position: relative;
  background-color: var(--dark);
  border: 3px solid var(--poke-red);
  border-radius: 50%;
  cursor: pointer;
  width: 36px;
  height: 36px;
  padding: 5px 8px;
  display: flex;
  place-content: center;
  overflow: hidden;
}

.theme-toggle input {
  display: none;
}

.theme-toggle .icon {
  color: var(--poke-dark);
  font-size: 1.3rem;
  position: absolute;
  pointer-events: none;
  transition: 300ms ease;
}

.theme-toggle .fa-moon {
  color: yellow;
  opacity: 0;
  transform: translateX(-2rem);
}

.theme-toggle .fa-sun {
  color: orange;
}

input:checked ~ label .fa-moon {
  opacity: 1;
  transform: translateX(0);
}

input:checked ~ label .fa-sun {
  opacity: 0;
  transform: translateX(2rem);
}

.theme-toggle:hover {
  transform: scale(1.11);
  filter: drop-shadow(0px 0px 3px var(--poke-blue));
}

.parallax {
  background: url("../assets/images/catch-em-wallpaper.png") no-repeat center /
    cover;
  background-attachment: fixed;
  height: 97vh;
  overflow: auto;
  position: relative;
}

.separator {
  background-color: rgb(60, 55, 62);
  color: var(--poke-red);
  display: flex;
  justify-content: space-around;
  height: 34px;
  padding-block: 7px;
}

.separator svg {
  max-width: 50px;
}

.pokedex-heading {
  user-select: none;
  max-width: 600px;
  margin-inline: auto;
  display: flex;
  place-content: center;
  position: relative;
  font-size: 3.84rem;
}

.pokedex h2 {
  background-color: var(--poke-blue);
  padding: 29px 30px;
  color: var(--poke-yellow);
  margin-block-start: 100px;
  margin-block-end: 50px;
  position: relative;
  filter: drop-shadow(0px 4px 10px var(--poke-blue));
}

.pokedex h2::after,
.pokedex h2::before {
  content: "";
  width: 0;
  height: 0;
  border-top: var(--pokedex-heading-size) solid var(--poke-blue);
  border-right: var(--pokedex-heading-size) solid transparent;
  right: calc(var(--pokedex-heading-size) * -1);
  top: 0;
  position: absolute;
}

.pokedex h2::before {
  border: none;
  border-bottom: var(--pokedex-heading-size) solid var(--poke-blue);
  border-left: var(--pokedex-heading-size) solid transparent;
  bottom: -100px;
  left: calc(var(--pokedex-heading-size) * -1);
}

.header-img-wrapper {
  position: absolute;
  width: 80px;
}

.header-img-wrapper:last-of-type {
  left: 8px;
  bottom: 37px;
  transform: rotate(20deg);
}

.header-img-wrapper:nth-child(2) {
  top: 28px;
  right: 0px;
}

.header-img-wrapper:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 7px;
  background: radial-gradient(var(--dark), transparent, transparent);
  border-radius: 2rem;
  bottom: 32px;
  right: 28px;
}

.pokedex {
  text-align: center;
  z-index: -2;
}

.pokedex-grid-wrapper {
  margin-block: 83px 50px;
  display: flex;
  gap: 100px 35px;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  position: relative;
}

.pokemon-card .card-content {
  display: grid;
  gap: 10px 65px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "left left right"
    "base base base";
  border-radius: 15px;
  background-color: var(--pokemon-card-bg);
  color: var(--pokemon-card-text);
  box-shadow: 0px 3px 10px var(--poke-dark);
  width: 240px;
  padding: 22px 22px 22px 27px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.pokemon-card:hover {
  top: -10px;
}

.pokemon-card .card-left {
  grid-area: left;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-top: 50px;
  position: relative;
}

.pokemon-img-wrapper {
  width: 130px;
  position: absolute;
  bottom: 40px;
  left: -20px;
}

.pokemon-card:hover .pokemon-img-wrapper {
  filter: drop-shadow(0 0 10px var(--poke-yellow));
}

.pokemon-card .pokemon-name {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.pokemon-card .stats-grid {
  font-family: "Pixelify Sans", sans-serif;
  align-content: space-between;
  align-items: center;
  grid-area: right;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  font-size: 1.15rem;
}

.stats-grid .icon-wrapper {
  width: 25px;
  pointer-events: none;
}

.pokemon-card .card-base {
  grid-area: base;
  display: flex;
}

.card-base .type {
  margin-top: 15px;
  padding: 8px 15px;
  border-radius: 8px;
  margin-right: 15px;
  font-size: 17px;
  color: var(--body-background-color);
}

.pokemon-card .favorite-tab {
  position: absolute;
  right: 0px;
  top: 10px;
  background-color: var(--poke-yellow);
  border-radius: 10px;
  font-size: 1.4rem;
  aspect-ratio: 1 / 2;
  width: 35px;
  cursor: pointer;
  padding: 7px 8px 20px;
  transition: 0.3s ease-in;
  z-index: 1;
}

.pokemon-card .fa-heart {
  position: absolute;
  top: 30%;
  left: 50%;
  translate: -50% -50%;
  transition: rotate 400ms;
}

.pokemon-card .favorite-tab .fa-solid {
  color: red;
}

.pokemon-card .favorite-tab:hover .fa-heart {
  color: var(--poke-red);
}

.pokemon-card:hover .favorite-tab,
.favorite-tab:hover {
  top: -35px;
}

@keyframes heartBounce {
  30% {
    top: 10%;
    rotate: y 0.5turn;
  }
  60% {
    top: 25%;
  }
  90% {
    top: 10%;
  }
}
