.navbar {
  display: flex;
  background-color: var(--poke-red);
  justify-content: space-between;
  align-items: center;
  padding-inline: 150px;
  height: 7vh;
  position: fixed;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 10;
}

.navbar .logo-wrapper {
  width: 150px;
  min-width: 120px;
  position: relative;
}

.navbar .nav-links {
  display: flex;
  position: relative;
}

.navbar .nav-item {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
  margin-inline: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.navbar .nav-item:hover {
  color: var(--poke-yellow);
}

.parallax {
  background: url("../assets/images/catch-em-wallpaper.png") no-repeat center /
    cover;
  background-attachment: fixed;
  height: 97vh;
  overflow: auto;
  position: relative;
}

.parallax::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.separator {
  background-color: rgb(60, 55, 62);
  color: var(--poke-red);
  display: flex;
  justify-content: space-around;
  height: 34px;
  padding-block: 7px;
}

.separator svg {
  max-width: 50px;
}

.pokedex h2 {
  color: var(--poke-yellow);
  margin-block-start: 100px;
  margin-block-end: 30px;
  text-align: center;
  filter: drop-shadow(0px 0px 4px var(--poke-blue));
}

.pokedex h2::before,
.pokedex h2::after {
  content: "";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  background: url(../assets/images/pika.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  bottom: 10px;
  margin-inline: 20px;
}

.pokedex h2::before {
  background: url(../assets/images/pika.png) no-repeat center / cover;
}
.pokedex h2::after {
  background: url(../assets/images/charzard.png) no-repeat center / cover;
  bottom: 30px;
}

.pokedex {
  display: flex;
  justify-content: center;
}
