.navbar {
  display: flex;
  background-color: var(--primary-400);
  justify-content: space-between;
  align-items: center;
  padding-inline: 250px;
  height: 7vh;
  position: fixed;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 10;
}

.navbar .logo-wrapper {
  width: 135px;
  min-width: 120px;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
}

.navbar .nav-item {
  color: var(--pokemon-card-text);
  font-size: 16px;
  font-weight: 100;
  margin-inline: 15px;
  font-family: "Russo One", sans-serif;
}

.navbar .nav-item:hover {
  color: var(--accent-400);
}

.theme-toggle {
  transition: 200ms ease;
  margin-left: 110px;
}

.theme-toggle:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 1px var(--electric));
}

.theme-toggle-content {
  position: relative;
}

.theme-toggle .theme-btn {
  background-color: var(--body-bg-color);
  position: relative;
  border: 3px solid var(--secondary-400);
  border-radius: 50%;
  cursor: pointer;
  width: 36px;
  height: 36px;
  padding: 5px 8px;
  display: flex;
  place-content: center;
  overflow: hidden;
}

.theme-toggle input {
  display: none;
}

.theme-toggle .icon {
  font-size: 1.3rem;
  position: absolute;
  pointer-events: none;
  transition: 300ms ease;
}

.theme-toggle .fa-moon {
  color: yellow;
  opacity: 0;
  transform: translateX(-2rem);
}

.theme-toggle .fa-sun {
  color: orange;
}

input:checked ~ label .fa-moon {
  opacity: 1;
  transform: translateX(0);
}

input:checked ~ label .fa-sun {
  opacity: 0;
  transform: translateX(2rem);
}

.parallax {
  background: url("../assets/images/catch-em-wallpaper.png") no-repeat center /
    cover;
  background-attachment: fixed;
  height: 97vh;
  overflow: auto;
  position: relative;
}

.chat-box-wrapper {
  position: absolute;
  width: 380px;
  height: 150px;
  left: 49%;
  top: 68%;
  translate: -50% -50%;
}

.chat-box-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.chat-box-text {
  display: inline-block;
  text-align: center;
  color: var(--hero-chatbox-text);
  font-family: "Electrolize", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  line-height: 1.1em;
  translate: -50% -50%;
  opacity: 0.7;
  font-weight: 600;
  font-size: 2rem;
  z-index: 2;
}

.hero-arrow-wrapper {
  cursor: pointer;
  position: absolute;
  width: 100px;
  left: 49%;
  top: 80%;
  translate: -50% 0%;
  transition: animation 300ms;
  animation: upDown 900ms infinite;
}

.separator {
  background-color: var(--primary-400);
  color: var(--accent-400);
  display: flex;
  justify-content: space-around;
  height: 34px;
  padding-block: 7px;
}

.separator img {
  max-width: 50px;
  filter: invert(77%) sepia(93%) saturate(2978%) hue-rotate(2deg)
    brightness(107%) contrast(97%);
}

.pokedex-wrapper {
  margin-block: 100px 200px;
}

.pokedex-header {
  user-select: none;
  max-width: 600px;
  margin-inline: auto;
  display: flex;
  place-content: center;
  position: relative;
}

.pokedex .heading {
  background-color: var(--secondary-900);
  padding: 29px 30px;
  color: var(--accent-400);
  font-size: 5rem;
  margin-block-start: 100px;
  margin-block-end: 60px;
  letter-spacing: 0.05em;
  position: relative;
}

.pokedex .heading::after,
.pokedex .heading::before {
  content: "";
  width: 0;
  height: 0;
  border-top: var(--pokedex-heading-size) solid var(--secondary-900);
  border-right: var(--pokedex-heading-size) solid transparent;
  right: calc(var(--pokedex-heading-size) * -1);
  top: 0;
  position: absolute;
}

.pokedex .heading::before {
  border: none;
  border-bottom: var(--pokedex-heading-size) solid var(--secondary-900);
  border-left: var(--pokedex-heading-size) solid transparent;
  bottom: -100px;
  left: calc(var(--pokedex-heading-size) * -0.998);
}

.header-img-wrapper {
  position: absolute;
  width: 200px;
  right: -20%;
}

.header-img-wrapper img {
  width: 100%;
}

.pokedex {
  text-align: center;
  z-index: -2;
}

.pokedex-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 100px;
}

.pokedex-navigation .type {
  border: solid 3px var(--pokemon-card-outline);
  cursor: pointer;
}

.pokedex-navigation .type:hover {
  border: solid 3px var(--accent-400);
}

.type[data-type="all"] {
  background-color: var(--primary-400);
  border-color: transparent;
}

.pokedex-grid-wrapper {
  margin-block: 83px 50px;
  display: flex;
  gap: 100px 35px;
  flex-wrap: wrap;
  justify-content: center;
}

.pokedex-grid-item {
  position: relative;
}

.pokedex-grid-item .pokemon-card {
  box-shadow: 0px 3px 10px transparent;
  display: grid;
  gap: 10px 65px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "left left right"
    "base base base";
  border-radius: 15px;
  background-color: var(--pokemon-card-bg);
  color: var(--pokemon-card-text);
  border: solid 3px var(--pokemon-card-outline);
  text-align: start;
  width: 265px;
  padding: 16px 18px;
  position: relative;
  user-select: none;
  z-index: 2;
}

.pokedex-grid-item:hover .pokemon-card {
  box-shadow: 0px 3px 10px var(--pokemon-card-shadow);
  top: -10px;
}

.pokemon-card .left {
  grid-area: left;
  display: grid;
  align-items: end;
}

.pokemon-img-wrapper {
  max-width: 140px;
  max-height: 150px;
  position: absolute;
  bottom: calc(100% - 4.5rem);
  left: 2rem;
}

.pokemon-img-wrapper img {
  max-height: 140px;
}

.pokedex-grid-item:hover .pokemon-img-wrapper {
  filter: drop-shadow(0 0 10px var(--pokemon-card-shadow));
}

.pokemon-card-name {
  text-wrap: nowrap;
  overflow-x: clip;
  font-size: 1.55rem;
  font-weight: 5 00;
  letter-spacing: 1.4px;
  max-width: 166px;
}

.pokemon-card .stats-grid {
  font-family: "Electrolize", sans-serif;
  align-content: space-between;
  align-items: center;
  grid-area: right;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  font-size: 1.15rem;
}

.stats-grid .icon-wrapper {
  width: 25px;
  pointer-events: none;
}

.stats-grid .stat {
  opacity: 0.9;
  font-weight: 600;
}

.pokemon-card .base {
  grid-area: base;
  display: flex;
}

.pokemon-card .type {
  margin-top: 15px;
  margin-right: 12px;
}

.pokemon-card-tab {
  position: absolute;
  right: 0px;
  top: 10px;
  background-color: var(--accent-400);
  color: var(--primary-400);
  border-radius: 8px;
  font-size: 1.6rem;
  aspect-ratio: 1 / 2;
  width: 40px;
  cursor: pointer;
  padding: 7px 8px 20px;
  transition: 0.3s ease-in;
  z-index: 1;
}

.pokemon-card-tab .fa-heart {
  position: absolute;
  top: 30%;
  left: 50%;
  translate: -50% -50%;
  transition: rotate 400ms;
}

.pokemon-card-tab:hover .fa-heart {
  color: var(--primary-200);
}

.pokedex-grid-item:hover .pokemon-card-tab,
.pokemon-card-tab:hover {
  top: -50px;
}

.btn[data-type="load-more"] {
  margin-top: 55px;
}

.favorites {
  display: grid;
  place-items: center;
  background-color: var(--primary-400);
  height: 80vh;
  position: relative;
  isolation: isolate;
}

.wave-wrapper {
  position: absolute;
  top: -10%;
  width: 100%;
  height: 20%;
  z-index: -1;
}

.favorites p {
  font-size: 2rem;
  width: 40%;
}

@keyframes upDown {
  from {
    top: 80%;
  }
  to {
    top: 82%;
  }
}

@keyframes heartBounce {
  30% {
    top: 10%;
    rotate: y 0.5turn;
  }
  60% {
    top: 25%;
  }
  90% {
    top: 10%;
  }
}
