:root {
  --clr-neutral-100: #fffaeb;
  --clr-neutral-400: #7d7c7c;
  --clr-neutral-900: #161615;
  --clr-primary-400: #ba4a4a;
  --clr-primary-200: #ff7575;
  --clr-accent-100: #fbce04;
  --clr-accent-900: #00beff;

  /* pokemon types */
  --water: rgb(10, 201, 235);
  --fire: rgb(253, 16, 0);
  --electric: rgb(253, 216, 76);
  --grass: rgb(14, 155, 92);
  --ice: rgb(2, 250, 255);
  --fighting: rgb(185, 66, 70);

  --pokedex-heading-size: 120px;
}

html[data-theme|="light"] {
  --body-bg-color: var(--clr-neutral-100);
  --pokemon-card-bg: var(--clr-primary-400);
  --pokemon-card-text: var(--clr-neutral-100);
  --pokemon-card-shadow: var(--clr-neutral-400);
}

html[data-theme|="dark"] {
  --body-bg-color: var(--clr-neutral-900);
  --pokemon-card-bg: var(--clr-primary-200);
  --pokemon-card-text: var(--clr-neutral-900);
  --pokemon-card-shadow: var(--clr-primary-400);
}
