:root {
  --clr-neutral-100: #fffaeb;
  --clr-neutral-200: #fbce04;
  --clr-neutral-400: #7d7c7c;
  --clr-neutral-900: #161615;
  --clr-primary-400: #ba4a4a;
  --clr-primary-200: #ff7575;
  --clr-accent-100: #fbce04;
  --clr-accent-900: #00beff;

  /* pokemon types */
  --normal: rgb(167, 167, 167);
  --fighting: rgb(185, 66, 70);
  --flying: rgb(74, 103, 125);
  --poison: rgb(94, 45, 136);
  --ground: rgb(169, 112, 44);
  --rock: rgb(72, 24, 11);
  --bug: rgb(28, 75, 39);
  --ghost: rgb(144, 103, 144);
  --steel: rgb(66, 189, 148);
  --water: rgb(134, 168, 252);
  --fire: rgb(253, 76, 90);
  --electric: rgb(245, 245, 55);
  --grass: rgb(39, 203, 79);
  --ice: rgb(215, 239, 250);
  --psychic: rgb(248, 28, 145);
  --dragon: rgb(68, 139, 149);
  --dark: rgb(90, 89, 121);
  --fairy: rgb(234, 19, 105);

  --pokedex-heading-size: 120px;
}

html[data-theme|="light"] {
  --hero-chatbox-text: var(--clr-neutral-900);
  --body-bg-color: var(--clr-neutral-100);
  --pokemon-card-text: var(--clr-neutral-100);
  --pokemon-card-bg: var(--clr-primary-400);
  --pokemon-card-shadow: var(--clr-neutral-400);
}

html[data-theme|="dark"] {
  --hero-chatbox-text: var(--clr-neutral-100);
  --body-bg-color: var(--clr-neutral-900);
  --pokemon-card-bg: var(--clr-primary-200);
  --pokemon-card-text: var(--clr-neutral-900);
  --pokemon-card-shadow: transparent;
}
