.card-base .type-water {
  background-color: var(--water);
}
.card-base .type-fire {
  background-color: var(--fire);
}
.card-base .type-electric {
  background-color: var(--electric);
}
.card-base .type-grass {
  background-color: var(--grass);
}
.card-base .type-ice {
  background-color: var(--ice);
}
.card-base .type-fighting {
  background-color: var(--fighting);
}
